*{
    margin: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: #fccff2;
}

#para1 img{
    width: 100px;
}
.para1{
    background: linear-gradient( rgb(66, 160, 248) pink);
    padding: 30px 40px;
    background-color: #c28ebd;
    width: 100%;
    margin: 10px;
}
.para1{
    border: #a75ba5;
    background-color: #8cd3fa;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 190, 239);
}


.ul{
    margin: 0px;
    padding: 0px;
}
.ul{
    list-style: armenian;
}

input {
    border: none;
    border-radius: 0;
    margin: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 15px;
}

.ul li{
    position: relative;
    padding: 12px 8px 12px 8px;
    font-size: 18px;
}

ul li:nth-child(odd){
    background: #d49ad2;
}
ul li:nth-child(even){
    background: #f6aac8;
}
ul li.checked:nth-child(even) {
    background: #f893d2;
    color: #fff;
    text-decoration:line-through;
}
ul li.checked:nth-child(odd) {
    background: #ebaaee;
    color: #fff;
    text-decoration:line-through;
}

#list{
    cursor: pointer;
}
#input_box{
    border-radius: 2px solid rgb(93, 36, 93);
    color: violet;
    background-color: rgb(158, 89, 222);
}


.Button{
    font-size: large;
    text-align: center;
    cursor: pointer;
    border: #8703df;
    border-radius: 50%;
    border: #360159;
    box-shadow: black;
    background-color: #d188b8;
}
.Button:hover {
    background-color: white;
}

.close {
    position: absolute;
    padding: 10px 12px 10px 12px;
}
    
.close:hover {
    background-color: #f436ae;
    color: rgb(251, 244, 248);
}
